services:
  nextcloud:
    build: .
    container_name: nextcloud
    restart: unless-stopped
    volumes:
      - /opt/nextcloud/data/nextcloud-data:/var/www/html
    environment:
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_HOST: nextcloud-mysql
      DB_PORT: 3306
      REDIS_HOST: Redis
      REDIS_HOST_PASSWORD: ${REDIS_PASSWORD}
      PHP_MEMORY_LIMIT: 1024M
      PHP_UPLOAD_LIMI: 40G
    links:
      - nextcloud-mysql
      - nextcloud-redis
    networks:
      frontproxy_fnet:
        ipv4_address: 172.18.18.20
      backend:
    logging:
      driver: "json-file"
      options:
        max-size: "1024m"


  nextcloud-mysql:
    image: mysql:8.2.0
    volumes:
      - /opt/nextcloud/data/nextcloud-db:/var/lib/mysql
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT}
    container_name: nextcloud-mysql
    user: "mysql"
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "1024m"
    networks:
      - backend

  nextcloud-redis:
    image: redis:7.2.5-alpine
    container_name: Redis
    command: redis-server --requirepass ${REDIS_PASSWORD}
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "1024m"
    networks:
      - backend

networks:
  frontproxy_fnet:
     external: true
  backend:
    name: nextcloud_backend
    driver: bridge
    driver_opts:
      com.docker.network.enable_ipv6: "false"